asgiref==3.6.0
backports.zoneinfo==0.2.1
Django==4.1.7
sqlparse==0.4.3

Pillow~=7.0.0
olefile~=0.46
pip~=22.3.1
keyring~=18.0.1
pytz~=2022.6
psycopg2~=2.9.5
colorama~=0.4.3
PyYAML~=5.3.1
Jinja2~=2.10.1
numpy~=1.23.5
requests~=2.28.1
setuptools~=45.2.0
djangorestframework~=3.14.0